.card-container {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  width: 270px;
  border: solid;
  margin: 1rem;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.card-image {
  margin-top: auto;
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.card-title {
  font-size: 1.5rem;
  padding: 0 10px;
  cursor: pointer;
}

.card-price {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bold;
}
